@charset "UTF-8";
/*===========================*/
/*【變數設定】*/
/*使用顏色*/
/*使用字體粗細*/
/*===========================*/
/*【通用設定】*/
/*使padding與border不會增加總寬度*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*版面水平置中容器*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*字型設定*/
body {
  font-family: 'Roboto','Noto Sans TC', sans-serif;
}

/*使圖片不會在下方多出2~3px空間*/
img {
  vertical-align: middle;
}

/*===========================*/
/*主標題(英文名字)*/
h1 {
  font-size: 80px;
  line-height: 94px;
  padding-bottom: 17px;
  border-bottom: 2px solid #000000;
}

/*個人照片*/
.photo {
  border-radius: 50%;
}

/*單元標題(通用)*/
h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
  font-weight: 400;
}

h2 span {
  font-size: 24px;
  line-height: inherit;
  color: #A00404;
  margin-left: 16px;
  font-weight: 500;
  vertical-align: top;
}

/*個人資料、學歷_內文*/
.profileList li, .educationList li {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

/*===========================*/
/*技能區_背景*/
.skillBg {
  background: #415165;
  padding-top: 24px;
  padding-bottom: 36px;
}

/*技能區_標題*/
.skillTitle {
  max-width: 996px;
  margin: 0 auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffffff;
  line-height: 45px;
  color: #ffffff;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.skillTitle span {
  line-height: inherit;
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  margin-left: 16px;
  vertical-align: top;
}

/*技能區_內文*/
.skillList {
  margin: 0 auto;
  width: 250px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #96A9C4;
}

.skillList li {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 300;
}

/*===========================*/
/*工作經驗_內文*/
.workList {
  margin-left: 24px;
  border-left: 1px solid #96A9C4;
}

.workList li {
  margin-left: 24px;
  width: 630px;
}

.workList li h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.workList li p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

/*===========================*/
/*聯絡區_背景*/
footer {
  background: #415165;
  padding-top: 24px;
  padding-bottom: 36px;
}

/*聯絡區_標題*/
.contactTitle {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffffff;
  font-size: 32px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.contactTitle span {
  line-height: inherit;
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  margin-left: 16px;
}

/*聯絡區_內文*/
.contactList li {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.contactList li a {
  color: #ffffff;
}

.contactList li a:hover {
  color: #96E9F6;
}

/*聯絡區_社群網站*/
.snsIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.snsIcon li a {
  display: block;
  width: 48px;
  height: 48px;
}

.fbIcon {
  background-image: url(../image/facebook.svg);
}

.fbIcon:hover {
  background-image: url(../image/facebook_hover.svg);
}

.igIcon {
  background-image: url(../image/instagram.svg);
  margin-left: 24px;
}

.igIcon:hover {
  background-image: url(../image/instagram_hover.svg);
}

.lineIcon {
  background-image: url(../image/line.svg);
  margin-left: 24px;
}

.lineIcon:hover {
  background-image: url(../image/line_hover.svg);
}

/*===========================*/
/*【統一向上推出空間設定】*/
.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-47 {
  margin-top: 47px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-72 {
  margin-top: 72px;
}

/*※放在最後面是因為這樣才不會被有設margin:0 auto;的蓋掉*/
/*===========================*/
/*# sourceMappingURL=all.css.map */